.customTextTitle {
    &__accordion {
        div {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 8px;
        }
    }
    &__box {
        div {
            font-weight: 600;
            font-size: 28px!important;
            margin-bottom: 0px;
        }
    }
}

@mixin body-text {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
    }
    pre {
        background-color: rgb(248, 248, 248);
        color: rgb(38, 38, 38);
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-size: 14px;
        padding: 3px;
    }
}

.body {
    @include body-text;
    a {
        color: "[theme: themePrimary, default: rgb(0, 103, 197)]";
    }
}

.body__inverted {
    @include body-text;
    a {
        color: inherit;
    }
}
