.customTextTitle {
    &__accordion {
        div {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 8px;
        }
    }
    &__box {
        div {
            font-weight: 600;
            font-size: 28px!important;
            margin-bottom: 0px;
        }
    }
}

.body {
    a {
        color: "[theme: themePrimary, default: rgb(0, 103, 197)]";
    }
    &__inverted {
        a {
            color: inherit;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
    }
}
